@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
}

body{
  /* Standardschrift*/
  font-family: 'Poppins', sans-serif;
}

/***************** Navbar ******************/
.Logo {
  width: 3.25rem;
}

/***************** Menü Links ******************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer
}

nav ul li{
  text-transform: uppercase;
}

/*
<element class="navbar-nav">
  <li>
    <a>
    */
.navbar-nav > li > a{
  /* zum überschreiben*/
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  /* leuchten oberhalb der NAvigatio standard*/
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

/* leuchten oberhalb der NAvigation; a.active --> wenn man daruf klickt*/
.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* leuchten oberhalb der NAvigation; a.active --> wenn man darüber fährt*/
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}