@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
:root {
  --primary-white: #ffffff;
  --primmary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-green: green;
  --primary-transparent-black: rgba(0,0,0,0.7);
}

body {
  /* Standardschrift*/
  font-family: 'Poppins', sans-serif !important;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/**************************************** Navbar ****************************************/

nav {
  /*z-index Hintergrund*/
  z-index: 2;
}

.Logo {
  width: 2.7rem;
}

/**************************************** Menü Links ****************************************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 1px;
  /*Mit cursor: können Sie das Aussehen des Mauszeigers für den Fall definieren*/
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

/*
<element class="navbar-nav">
  <li>
    <a>
    */

.navbar-nav>li>a {
  /* zum überschreiben*/
  margin-right: 8px;
  margin-left: 8px;
  color: var(--primary-white) !important;
  /* leuchten oberhalb der NAvigatio standard*/
  border-top: 0.1875rem solid var(--primary-dark);
  text-align: center;
}

/*Die ganze Navbarleiste*/
.navbar-brand {
  max-width: 15.25rem;
  padding: 0 !important;
}

/* leuchten oberhalb der NAvigation; a.active --> wenn man daruf klickt*/

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* leuchten oberhalb der NAvigation; a.active --> wenn man darüber fährt*/

.navbar-nav>li>a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/******************Für Handy********************/

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }

  nav ul {
    margin-top: 0.5rem;
  }

  .navbar-nav>li>a.active, .navbar-nav>li>a.active:focus {
    border-top:none;
  }
  
  /* leuchten oberhalb der NAvigation; a.active --> wenn man darüber fährt*/
  
  .navbar-nav>li>a:hover {
    border-top:none;
    background-color: var(--primary-orange) !important;
    color: var(--primary-black) !important;
  }
  

}

/**************************************** Header ****************************************/

.header-wraper {
  /*
  - Mit position:relative kann man das Element mit top, bottom, left und right ausrichten. Die Lücke im Textfluss bleibt bestehen.
  - background-size bestimmt, an welcher Stelle sich die linken oberen Ecken der Hintergrundbilder befinden sollen.cover: passt unter Beibehaltung des Seitenverhältnisses die kleinere Seite der Grafik in den Anzeigebereich ein
  - background-position bestimmt, an welcher Stelle sich eine bestimmte Ecke des Hintergrundbildes befinden soll
  */
  position: relative;
  background: url(/src/img/Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*
- display wird festgelegt, welche Art von Box ein Element erzeugt. generiert einen Flex-Container, der sich wie ein Blockelement verhält
- justify-content definiert, wie der Platz zwischen Inhaltselementen entlang der Hauptachse eines Flex-Containers bzw. entlang der inline-Achse eines Grid-Containers verteilt wird
- align-items legt fest, wie die einzelnen flexiblen Elemente entlang der Querachse angeordnet werden. center Alle Elemente werden mittig angeordne
- z-index gibt an, in welcher Reihenfolge Elemente auf dem Ausgabemedium dargestellt werden.
*/

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/******************Typed Text****************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/******************Für Handy**************/

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.6rem !important;
  }
  .header-wraper {
    background-position: -390px;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
  /* Für die particles ausblenden
  .particles-canvas {
    display: none;
  }*/
}

/************** Header Main Offer **************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
}

/*Button Schatten*/

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .3s ease-in-out;
}

/*************** Particles JS ******************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

/**************************************** About Me ****************************************/

.photo-wrap {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }

  .photo-wrap {
    margin-top: 0rem;
  }
}

/**************************************** Services ****************************************/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primmary-light-grey);
}

.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services h3 {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 25px;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 18rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

/**************************************** Experiences ****************************************/

/*Ganze Experience Block*/

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

/*Mittelinien Erstellen*/

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

/*Die blöcke von jeder Erfahrung*/

.timeline-block {
  padding-top: 10px;
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

/*Block rechts*/

.timeline-block-right {
  float: right;
}

/*Block links*/

.timeline-block-left {
  float: left;
  direction: rtl;
}

/*Punkte dazwischen*/

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

/*Content Block*/

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

/*Content Block Überschrift*/

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-dark);
  font-weight: 400;
}

.experience .timeline-title {
  font-weight: 700;
}

/**********Media***********/

@media(max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
    height: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/**************************************** Skills ****************************************/

.skills {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primmary-light-grey);
}

.skills h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.skills h3 {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 25px;
}

.skills .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-orange);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.skills .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skills .box {
  height: 10rem;
  border-bottom: 0.3125rem solid var(--primary-orange);
  padding: 0.625rem;
  margin-bottom: 1.2rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.skills .box:hover {
  background: var(--primary-orange);
  border-bottom: 0.3125rem solid var(--primary-dark);
}

.skills .box:hover .icon {
  color: var(--primary-dark);
}

.skills .box:hover .circle {
  background: var(--primary-white);
}


/**************************************** Skills2 ****************************************/

.vertical-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 2rem;
}

.abilities{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: var(--primmary-light-grey);
}

.abilities h3 {
  font-size: 1.8rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  text-align: left;
  color: var(--primary-orange);
}

.abilities-box h4 {
  font-size: 1.5rem;
  color: #888;
  font-weight: 500;
}

.abilities .no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.abilities-line {
  padding-bottom: 5px;
  font-size: 20px;
  height: 36px;
}

.abilities-line:hover {
  font-size: 24px;
  cursor: pointer;
}

.abilities ul > li .ability-title-icon {  
 margin-right: 10px;

 width: 30px;
}

.abilities ul > li .ability-title {  
  font-weight: 600;
}

.abilities ul > li .ability-score {
    float: right;
    color: var(--primary-orange);
}

.abilities-box .abilities-ilt{
  width: 100%;
  position: relative;
  height: 0.4rem;
  background-color: #ccc;
  border-radius: 0.5rem;
}

.abilities-box .abilities-bar {
  background-color: var(--primary-orange);
  height: 0.4rem;
}

.abilities-box .html {
  width: 95%;
}

.abilities-box .css {
  width: 80%;
}

.abilities-box .javascript {
  width: 50%;
}

.abilities-box .java {
  width: 95%;
}

.abilities-box span {
  position: absolute;
  bottom: 10%;
  right: 0;
  font-size: 1.4rem;
}
/*
.abilities.box:not(:last-child) {
  margin-bottom: 2rem;
}

.abilities-center{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}*/
/**************************************** Portfolio ****************************************/

/* Gange Block*/

.blog-wrapper {
  /*background: var(--primary-dark-grey);*/
  padding: 2rem 0;
}

.blog-wrapper h1 {
  color: var(--primary-orange);
}

/* Im Bild drinnen*/

.blog-image {
  width: 15rem;
  border: 1px solid var(--primary-orange);
  padding: 0.5rem 0.5rem;
}

/* Ausserhalb vom Bild*/

.blog-image-box {
  position: relative;
  margin: 1rem;
}

/*********** Overflow box Beginning ********/

.overflow {
  position: absolute;
  opacity: 0;
  background-color: var(--primary-black);
  width: 15rem;
  height: 10.4rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.blog-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.blog-icon {
  position: absolute;
  text-align: center;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 4.5rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
}

.blog-image-box:hover .blog-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper {
  margin-top: 7rem;
}

/*********** Overflow box PopupBox ********/

.blog-image-popupbox {
  width: 45rem;
  padding: 0.5rem 0.5rem;
}

.blog-content-popupbox {
  max-width: 45rem;
  padding: 0.5rem 0.5rem;
  word-wrap: break-word; 
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  color: var(--primary-red);
}

/*****Media*****/

@media(max-width: 768px) {
  .blog-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }
  .blog-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .blog-image-popupbox {
    width: 30%;
  }
}

/**************************************** Testimonials ****************************************/
.testimonials {
  background-image: url(/src/img/blatt.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
width: 100%
}

.testimonials h1 {
  color: var(--primary-orange);
  padding: 3rem 0;
  text-transform: uppercase;
}

/*Schwarzer Block im Carousel*/
.testimonials-content {
  text-align: center;
  max-width: 45.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 9.875rem;
}

.myCarousel h3 {
  color: var(--primary-orange);
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  /*width: 30rem !important;*/
  width: 500px !important;
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}


@media(max-width: 600px) {
  .carousel .slide img {
    width: 300px !important;
    height: 200px;
  }
}

@media(max-width: 400px) {
  .carousel .slide img {
    width: 230px !important;
    height: 150px;
  }
}

@media(max-width: 280px) {
  .carousel .slide img {
    width: 200px !important;
    height: 100px;
  }
}

/**************************************** Contact ****************************************/
.contact {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contact h1 {
  color: var(--primary-orange);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contact p {
  color: var(--primmary-light-grey);
  font-size: 1.2rem;
}

/*----------Inputs----------*/
.contact input, .contact textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contact .container{
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contact textarea {
  height: 12.7rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.9rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-orange);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.2rem 0;
}
textarea.form-control {
  margin: -0.2rem 0;
}

/*-----Error Messages---------*/
.error-message {
  color: var(--primary-white);
  background: var(--primary-red);
  text-align: left;
}


.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*------------Media -----------*/
@media(max-width: 768px) {
  .contact {
    overflow-x: hidden;
  }
  
  .contact .container{
    padding: 0 1rem;
  }

  .contact p {
    padding: 0 0.4rem;
  }
}

/**************************************** Footer ****************************************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}