@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

body{
  /* Standardschrift*/
  font-family: 'Poppins', sans-serif;
}

/***************** Navbar ******************/
nav {
  z-index: 2;
}

.Logo {
  width: 3.25rem;
}

/***************** Menü Links ******************/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 2px;
  cursor: pointer
}

nav ul li{
  text-transform: uppercase;
}

/*
<element class="navbar-nav">
  <li>
    <a>
    */
.navbar-nav > li > a{
  /* zum überschreiben*/
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  /* leuchten oberhalb der NAvigatio standard*/
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

/******************Für Handy**************/
@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}


/* leuchten oberhalb der NAvigation; a.active --> wenn man daruf klickt*/
.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

/* leuchten oberhalb der NAvigation; a.active --> wenn man darüber fährt*/
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/**********************HEADER**********************/

.header-wraper{
  position: relative;
  background: url(/src/img/Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /*Vordergrund*/
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}

/******************Für Handy**************/
@media(max-width: 768px) {
  .main-info h1{
    font-size: 1.7rem !important;
  }
}


/******************Typed Text****************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/******************Für Handy**************/
@media(max-width: 768px) {
  .typed-text{
    font-size: 1.3rem !important;
  }
}



/************** Header Main Offer **************/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}

/*************** Particles JS ******************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: 1;
}

/******************Für Handy**************/
@media(max-width: 768px) {
  /* Für die particles ausblenden
  .particles-canvas {
    display: none;
  }*/
}
